body {
	background: black;
}
#container {
	position: absolute;
	width: 800px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-size: 25px;
}
#canvas1 {
	position: relative;
	width: 800px;
	height: 700px;
}
#slider {
	width: 100%;
}
p {
	color: white;
}
